.slide {
	background-image: linear-gradient(red,green,blue);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px;
	border: 2px;
	width: 75px;
	height: 75px;
	border-radius: 100px;
	color: white;
	user-select:none;
  }
.isActive {
	width: 90px !important;
	height: 90px !important;
  }
.cw {
	margin-top: 0px;
	min-width: 475px;
	max-width: 100%;
  }
@media only screen and (max-width: 1024px) {
	.slide {
		box-shadow: 2px 2px;
		border: 2px;
		width: 60px;
		height: 60px;
	}
	.active {
		width: 70px !important;
		height: 70px !important;
	  }
}